<template>
  <div class="home">
    <Tabs />
    <v-container class="pa-5">
      <v-row>
        <LatestNews />
        <LatestNews />
        <LatestNews />
        <LatestNews />
      </v-row>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src
import LatestNews from '@/components/LatestNews.vue';
import Tabs from '@/components/Tabs.vue';

export default {
  name: 'Home',
  components: {
    LatestNews,
    Tabs,
  },
};
</script>
