<template>
  <div>
    <v-tabs fixed-tabs background-color="deep-purple accent-4" center-active dark>
      <v-tab>
        Latest
      </v-tab>
      <v-tab>
        Favourite
      </v-tab>
      <v-tab>
        Offline
      </v-tab>
    </v-tabs>
  </div>
</template>

<script>
export default {
  name: 'Tabs',
  data() {},
};
</script>
