<template>
  <v-app>
    <TopNav />
    <v-content>
      <Home />
    </v-content>
  </v-app>
</template>

<script>
import Home from './views/Home.vue';
import TopNav from './components/TopNav.vue';

export default {
  name: 'App',

  components: {
    Home,
    TopNav,
  },

  data() {},
};
</script>
